{% extends 'store/base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}

	<section class="container " style="padding-top: 100px; padding-bottom: 45px; padding-left: 400px; padding-right: auto;"><!--form-->
		<div class="container  ">
			<div class="row "  >
				<div class="col-sm-6 col-sm-offset-3 " style="text-align: center; display: inline-block;">
                    <!--sign up form-->
					<div class="content-section">
						<form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">
                                    <h2>Log In!</h2>

                                </legend>
                                {{ form| crispy }}
                            </fieldset>
                            
                            
							<button type="submit" class="btn btn-default">Log In</button>
						</form>
					</div>
                    <div style="padding: 30px;">
                        <small class="col-sm-offset-3" >
                            Need An Account?
                            <a href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
				</div>
			</div>
		</div>
	</section><!--/form-->
	
{% endblock content %}