{% extends 'store/base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}

	<section class="container" style="padding-top: 100px; padding-bottom: 45px; padding-left: 400px; padding-right: auto"><!--form-->
		<div class="container">
			<div class="row" s>
				<div class="col-sm-6 col-sm-offset-3 " style="text-align: center; display: inline-block;">
                    <!--sign up form-->
					<div class="signup-form">
						<form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="">
                                    <h2>New User Signup!</h2>

                                </legend>
                                {{ form| crispy }}
                            </fieldset>
                            
                            
							<button type="submit" class="btn btn-default">Sign Up</button>
						</form>
					</div>
                    <div style="padding: 30px;">
                        <small class="col-sm-offset-3" >
                            Already Have An Account?
                            <a href="{% url 'login' %}">Log In</a>
                        </small>
                    </div>
				</div>
			</div>
		</div>
	</section><!--/form-->
	
{% endblock content %}